<%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, Restaurant::CAT, class: "form-control" %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= form_for @review do |f| %>
  <%= f.input :content %>
  <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
  <%= b.radio_button + b.label {''} %>
  <%= f.submit class: 'btn btn-primary'%>
  <% end %>
